html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article,
footer,
header,
main,
nav,
section, {
  display: block;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Spartan', sans-serif;
  background-color: #0f0f0f;
}

header {
  display: block;
}

nav {
  text-align: left;
  top: 0;
  left: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f0f0f;
}

.main-nav-ul li {
  float: left;
}

.main-nav-ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-nav-ul li a:hover {
  background-color: #676767;
}

a {
  color: #0f0f0f;
  text-decoration: none;
}

.img {
  max-height: auto;
  position: relative;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
  background-size: cover;
}

a {
  color: #0f0f0f;
  text-decoration: none;
}

.banner {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 100%;
  z-index: 101;
  color: #EEE;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #EEE;
  border: 1px solid #EEE;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.btn:hover {
  color: #EEE;
  background-color: rgba(237, 237, 237, 0.3);
  border: 1px solid #EEE;
}

section {
  margin: 0 auto;
  max-width: 87.5rem;
  position: relative;
}

footer {
  width: 100%;
  background-color: #0f0f0f;
  max-height: 75px;
}

footer ul.footerleft{
  text-align: center;
  margin-top: 15px;
}

footer ul.footerleft li{
  display: inline;
}

footer a{
  color: #EEE;
  margin-left: 1rem;
}

footer a:hover{
  color: #676767;
  text-decoration: none;
}

.footer-bottom{
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #EEE;
  background: #0f0f0f);
  font-size: 12px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}


@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {

}
