html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Spartan', sans-serif;
  background-color: #EEE;
}

header {
  display: block;

}

nav ul {
  white-space: nowrap;
}

nav li {
  display: inline-block;
  margin: 0 0.8rem 0 0;
  padding: 0.5rem 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

.banner-image {
  position: absolute;
  top: 5.5rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
}

footer {
  display: block;
  background-color: #EEE;
}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {

}
