html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article,
footer,
header,
main,
nav,
section, {
  display: block;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Spartan', sans-serif;
  background-color: #EEE;
}

header {
  display: block;
}

nav {
  text-align: left;
  top: 0;
  left: 0;
}

.header-nav-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 5.7rem;
}

.header-nav {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
}

nav li {
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: #0f0f0f;
  text-decoration: none;
}

a:hover {
  color: #676767;
}

.banner-title {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 100%;
  z-index: 101;
}

.image-bg {
  padding-top: 1rem;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.image-bg img {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 65%;
}

section {
  margin: 0 auto;
  max-width: 87.5rem;
  position: relative;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 75px;
  background-color: #0f0f0f;
}

footer ul.footerleft{
  text-align: center;
  margin-top: 15px;
}

footer ul.footerleft li{
  display: inline;
}

footer a{
  color: #EEE;
  margin-left: 1rem;
}

footer a:hover{
  color: #676767;
  text-decoration: none;
}

.footer-bottom{
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #EEE;
  background: #0f0f0f);
  font-size: 12px;
}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {

}
